@charset "UTF-8";
body{
  background-color: #99ffff;
  background-image: url(../img/feel.jpg);
  background-repeat: repeat-y;
}
h1{
  font-size: 1.75em;
  font-weight: 300;
  color: #ea3049;
  border: #ff3366 1px dotted;
  border-left: #ff3366 10px solid;
  margin-bottom: 3;
  padding: 5px 20px;
}
.don{
  font-size: 2em;
}
h2{
  font-size: 1.25em;
  color: #ea3049;
}
#hamuko{
  color: #3a4861;
  text-decoration: underline;
}
li{
  font-size: 1.35em;
  background-color: #f8a900;
  line-height: 1.25em;
}
.hamu{
  color: #edbbd4;
}
.top{
  font-size: 1.25em;
}
.on{
  font-size: 80%;
}
a{
  color: #3a4849;
  background-color: #ea3049;
}
a:hover{
  color: #fbd246;
}
